/pshop—station-conekta/target/
/pshop-station-drools/target/
/pshop-station-persistence/target/
/pshop-station-web/target/

/pshop-station-conekta/.classpath
/pshop-station-conekta/.project
/pshop-station-conekta/.settings/

/pshop-station-drools/.classpath
/pshop-station-drools/.project
/pshop-station-drools/.settings/

/pshop-station-persistence/.classpath
/pshop-station-persistence/.project
/pshop-station-persistence/.settings/

/pshop-station-web/.classpath
/pshop-station-web/.project
/pshop-station-web/.settings/

/pshop-station-conekta/src/test/java/META-INF/
/pshop-station-drools/src/test/java/META-INF/
/pshop-station-persistence/src/test/java/META-INF/
/pshop-station-web/src/test/java/META-INF/

.project
.classpath
.settings/